/*Letra NORMAL->
font-family: 'Lato', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
/*Letra TITULOS->
font-family: 'Bebas Neue', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital@1&display=swap');
/*Colores
#white
#A6D1E6 cian blanquesino
#272727 plomo medio claro
#black*/
/*ESTILOS GENERALES*/
/*Quitar el margen*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* fondo imagen y ajuste size */
}
main, footer{
    background-image: url(../cssmedia/fondonegro3.jpg);

}
.fuenteLetra{/*Header barra de navegacion*/
    font-family:  'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    background-image: url(../cssmedia/fondonegro3.jpg);
}
footer{/*Footer*/
    /*border: 0.1rem solid white;*/
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer p{
    color: white;
    text-align: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding-left: 3rem;
    opacity: 0.5;
}

/*INDEX*/
/*Main*/
/*Presentacion*/
.presentacion h1{
    background-image: url(../htmlmedia/capital.jpg);
    padding: 10rem 0;
}
/*FONDOS NEGROS*/
.fondoNegro{
    background-color: #000;
}

